[user]
  name = Aaron C
  email = aaron@glyphforged.com

[init]
  defaultBranch = trunk

[pull]
  rebase = false

[push]
  default = simple

[core]
  editor = nvim
  autocrlf = input
  pager = less -FRX

[color]
  ui = auto

[diff]
  colorMoved = default

[merge]
  conflictstyle = zdiff3    # show base version during conflicts

[rerere]
  enabled = true            # Remember conflict resolutions

[alias]
  st = status
  co = checkout
  sw = switch
  br = branch
  ci = commit
  ds = diff --staged        # Show staged diff
  df = diff
  dff = diff --name-only
  rb = rebase
  rbi = rebase -i
  blame = blame -w
  amend = commit --amend --no-edit
  lg = log --online --graph --decorate --all
  last = log -1 HEAD
  unstage = restore --staged
  tree = log --graph --pretty=format:'%C(auto)%h%d %s %C(black)%C(bold)%cr' --abbrev-commit
  # Example: Squash the last 3 commits: `git squash 3`
  squash = "!f() { git reset HEAD~$1 && git commit; }; f"
  # Remove branches already merged into main
  cleanup = "!git branch --merged | grep -v '\\*\\|main\\|master' | xargs -r git branch -d"

[url "git@github.com:"]
    insteadOf = https://github.com/
