[include]
  path = ~/.config/glyphforged/gitconfig

[user]
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICB6Ip052wYZ2jflWH3ZGnj9O5X2x2iOy3DpE2b+7f+1

[gpg]
  format = ssh

[gpg "ssh"]
  program = op-ssh-sign-wsl.exe

[commit]
  gpgsign = true

[core]
  sshCommand = ssh.exe

[include]
  path = ~/.gitconfig.local
